.counters {
  padding: .5em;
  color: var(--grey);
}

.counters .counter-pomodoros {
  font-size: 1.5em;
  font-weight: 200;
  letter-spacing: -.05em;
  line-height: 1em;
}

.counters .counter-estimate {
  font-size: 1em;
  /* line-height: 1em; */
  /* padding: 0 1em; */
}

.counter-text {
  font-size: .7em;
  line-height: 1em;
  padding: .4em 0 0 0;
}