/* the topmost css file - defines global styling for Pomodoro component */
.pomodoro-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  margin: 0;
  padding: 0 .5em;
  border-bottom: 3px solid var(--darkblue);
  position: relative;
  max-height: 0;
  overflow: hidden;
  transition: .3s;
  opacity: 0;
}

.pomodoro-container .delete-button {
  font-size: 1.2em;
  opacity: .85;
  right: .4em;
  top: .4em;
}

.pomodoro-details {
  display: flex;
  flex-direction: column;
}

.tool-close {
  position: absolute;
  top: .8em;
  right: .4em;
  background: var(--lightgrey);
  font-size: .8em;
  padding: .2em .6em;
  transition: background .3s;
}

.tool-close:hover {
  cursor: pointer;
  background: #f00;
  color: #fff;
}