
.sidebar {
  background: var(--lightblue);
  width: 55%;
  position: relative;
  text-align: center;
  transition: .3s;
}

.sidebar-content {
  transition: .1s;
  padding: 2.2em;
}

.sidebar h3.side-info {
  padding: 6em 1em;
  font-size: 1.2em;
  color: var(--grey);
  font-weight: 400;
}

.add-tool-field {
  border: none;
  width: 100%;
  
  background: #fff;
  color: var(--darkblue);
  border-radius: 6px;
  text-align: center;
  transition: .3s;
  max-height: 2.2rem;
  overflow: hidden;
  transition: .3s;
}

.add-tool-field.add-tool-open {
  max-height: 12em;
}

.add-tool-open .add-tool-title {
  cursor: pointer;
  border-bottom: 3px solid var(--grey);
}

.add-tool-title {
  font-weight: 400;
  font-size: 1em;
  margin: 0 auto;
  line-height: 1em;
  padding: .6em;
  transition: .3s;
}

.add-tool-open .add-tool-title,
.add-tool-title:hover {
  cursor: pointer;
  background: var(--grey);
  color: #fff;
}

.add-tool-option {
  padding: .6em;
  /* transition: .3s; */
}

.add-tool-option:hover {
  cursor: pointer;
  background: var(--lightgrey);
}