
.sidebar {
  background: var(--lightblue);
  width: 55%;
  position: relative;
  text-align: center;
  transition: .3s;
}

.sidebar-content {
  transition: .1s;
  padding: 2.2em;
}

.sidebar h3.side-info {
  padding: 6em 1em;
  font-size: 1.2em;
  color: var(--grey);
  font-weight: 400;
}

.btn-add-tool {
  font-weight: 400;
  font-size: 1em;
  padding-left: .5rem;
  margin: 0 auto;
  line-height: 1em;

  border: none;
  width: 100%;
  border-bottom: 3px solid rgba(0,0,0,0);

  background: #fff;
  color: var(--darkblue);
  border-radius: 6px;
  padding: .6em;
  text-align: center;
  transition: .3s;
}

.btn-add-tool:hover {
  cursor: pointer;
  background: var(--grey);
  color: #fff;
}