
.settings-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  transition: color 0.2s;
  border-top: 1px solid var(--lightblue);
  text-transform: lowercase;
  width: 100%;
  position: relative;
  color: var(--grey);
}

.decrement, .increment {
  border: none;
  background: transparent;
  font-weight: 100;
  color: var(--black);
}

.decrement:hover, .increment:hover {
  cursor: pointer;
}

.work-title.settings-selected-timer {
  color: var(--black);
  border-bottom: 6px solid var(--darkblue) !important;
}
.break-title.settings-selected-timer {
  color: var(--black);
  border-bottom: 6px solid var(--grey) !important;
}
.long-break-title.settings-selected-timer {
  color: var(--black);
  border-bottom: 6px solid var(--green) !important;
}

.noselect {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}