
.settings-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  transition: color 0.2s;
  border-bottom: 1px solid var(--grey);
  text-transform: lowercase;
  width: 100%;
  position: relative;
  color: var(--grey);
}

.decrement, .increment {
  border: none;
  background: transparent;
  font-weight: 100;
  color: var(--black);
}

.decrement:hover, .increment:hover {
  cursor: pointer;
}