.settings-sound {
  flex-wrap: wrap;
  text-align: center;
}

.sound-prev-arrow,
.sound-next-arrow {
  font-size: .8em;
  color: var(--grey);
  transition: color .3s;
}
.sound-prev-arrow:hover,
.sound-next-arrow:hover {
  cursor: pointer;
}

.settings-sound .sound-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  background: var(--medgrey);
  padding: 2px;
  width: 1em;
  height: 1em;
  border-radius: 100%;
  margin-right: .5em;
  transition: background .3s;
  position: absolute;
  left: 2em;
}

.settings-sound i {
  font-size: .7em;
  color: var(--grey);
}

.settings-sound ul {
  margin: 0;
  padding: 0;
}

.settings-sound ul li {
  list-style: none;
  text-align: center;
  transition: .2s;
}

.settings-sound ul li:hover {
  cursor: pointer;
  color: var(--lightgrey);
}

.settings-sound:hover .sound-progress-tab {
  opacity: 1;
}

.sound-hidden {
  display: none;
}

.sound-progress {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 12px;
  border-radius: 6px;
  flex-basis: 100%;
  padding-bottom: 15px;
}

.sound-progress-tab {
  background: var(--grey);
  height: 13px;
  width: 13px;
  margin: 0 4px;
  border-radius: 100%;
  transition: .3s;
  opacity: 0;
}