/* To split into individual CSS files */

/* colour vars */
:root {
  --darkblue: #1179a5;
  --babyblue: #70cce0;
  --lightblue: #eff5fc;

  --green: #62ba6c;
  --lightgreen: #DBFBDF;

  --black: #272727;
  --grey: #93aec2;
  --lightgrey: #f5f5f5;
}

*, *:before, *:after {
  box-sizing: border-box;
}
html {
  height: 100%;
  background: url(images/bg-top-left.svg) top left / 55% no-repeat;
  background-color: #f5f5f5;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
  line-height: 1.75;
  font-size: 18px;
  color: var(--black);
}

.container {
  position: relative;
  height: 100%;
  min-height: 100vh;
}

.header {
  width: 80%;
  height: 125px;
  max-width: 1020px;
  margin: 0 auto;
  position: relative;
}

.header-group {
  position: absolute;
  bottom: 20px;
  /* right: 0; */
}

.logo {
  width: 115px;
  display: inline-block;
  padding-top: 10px;
}

h1.header-title {
  line-height: 1;
  text-transform: lowercase;
  font-size: 3em;
  color: var(--grey);
  display: inline-block;
  margin: 0;
  padding: 0 .5em;
  font-weight: 200;
  letter-spacing: 0.1em;
  transition: color .3s;
}

.header-group:hover {
  cursor: pointer;
}
.header-group:hover h1.header-title {
  color: var(--babyblue);
}

.app {
  border-top: 24px solid var(--grey);
  width: 80%;
  max-width: 1020px;
  margin: 0 auto 13em auto;
  background: #fff;
  box-shadow: 0 36px 51px rgba(0,0,0,0.1);
  display: flex;
}

.main-content {
  padding: 2.2em;
  width: 57%;
}

.footer {
  background: url(images/bg-bottom-right.svg) bottom right / 80% no-repeat;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -101;
}