body {
  margin: 0;
  padding: 0;
  font-family: Josefin Sans, sans-serif;
  background: #2698a5;
}
.App {
  width: 80%;
  max-width: 1100px;
  text-align: center;
  margin: 10vh auto;
}
.logo {
  width: 100%;
  z-index: 0;
}

.logo-text {
  font-size: 4em;
  color: white;
}
