/* colour vars */
:root {
  --darkblue: #1179a5;
  --babyblue: #70cce0;
  --lightblue: #eff5fc;
  --green: #62ba6c;

  --lightgreen: #DBFBDF;

  --black: #272727;
  --grey: #93aec2;

  /* just used for bg now */
  --lightgrey: #f5f5f5;
}

*, *:before, *:after {
  box-sizing: border-box;
}
html {
  height: 100%;
  background: url(images/bg-top-left.svg) top left / 55% no-repeat;
  background-color: #DEE8EA;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
  line-height: 1.75;
  font-size: 18px;
  color: var(--black);
}

.container {
  position: relative;
  height: 100%;
  min-height: 100vh;
}

.header {
  width: 80%;
  height: 125px;
  max-width: 1020px;
  margin: 0 auto;
  position: relative;
}

.header-group {
  position: absolute;
  bottom: 20px;
  /* right: 0; */
}

.logo {
  width: 115px;
  display: inline-block;
  padding-top: 10px;
}

h1.header-title {
  line-height: 1;
  text-transform: lowercase;
  font-size: 3em;
  color: var(--grey);
  display: inline-block;
  margin: 0;
  padding: 0 .5em;
  font-weight: 200;
  letter-spacing: 0.1em;
  transition: color .3s;
}

.header-group:hover {
  cursor: pointer;
}
.header-group:hover h1.header-title {
  color: var(--babyblue);
}

.app {
  border-top: 24px solid var(--grey);
  width: 80%;
  max-width: 1020px;
  margin: 0 auto 13em auto;
  background: #fff;
  box-shadow: 0 36px 51px rgba(0,0,0,0.1);
  display: flex;
}

.main-content {
  padding: 2.2em;
  width: 57%;
}

.sidebar {
  background: var(--lightblue);
  width: 66%;
  position: relative;
  text-align: center;
  transition: .3s;
}

.sidebar-content {
  transition: .1s;
}

.sidebar h3.side-info {
  padding: 6em 1em;
  font-size: 1.2em;
  color: var(--grey);
}

.btn-add-tool {
  font-weight: 400;
  font-size: 1em;
  padding-left: .5rem;
  margin: 2em auto;
  line-height: 1em;

  border: none;
  width: 85%;
  border-bottom: 3px solid rgba(0,0,0,0);

  background: #fff;
  color: var(--darkblue);
  border-radius: 6px;
  padding: .6em;
  text-align: center;
  transition: .3s;
}
.btn-add-tool:hover {
  cursor: pointer;
  background: var(--grey);
  color: #fff;
}
/* .add-tool:before {
  content: '+ ';
  position: absolute;
  font-size: 1.2em;
  left: 0;
  top: -.2em;
} */

.footer {
  background: url(images/bg-bottom-right.svg) bottom right / 80% no-repeat;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -101;
}

.main-input {
  width: 100%;
  /* height: 2em; */
  border: none;
  font-size: 1.2em;
  margin-bottom: 2.2em;
  border-bottom: 3px solid #fff;
  padding: .5em 1em;
  background: var(--lightgrey);
  transition: .3s;
  border-radius: 6px;
  text-align: center;
}

.main-input:focus {
  outline: none;
  border-bottom: 3px solid var(--babyblue);
  background: #fff;
  border-radius: 0;
}

h3 {
  font-weight: 400;
  font-size: 1em;
  padding-left: .5rem;
  margin: 0;
}

input.btn-add-project {
  font-weight: 400;
  font-size: 1em;
  padding-left: .5rem;
  margin: 1em 0;

  border: none;
  width: 100%;
  border-bottom: 3px solid #fff;

  background: var(--lightgreen);
  color: var(--darkblue);
  border-radius: 6px;
  padding: .5em;
  text-align: center;
  transition: .3s;
}

input.btn-add-project:hover {
  background: var(--green);
}

input.btn-add-project:focus {
  outline: none;
  border-bottom: 3px solid var(--green);
  border-radius: 0;
  background: transparent;
}

/* https://www.w3schools.com/howto/howto_css_placeholder.asp */
input.btn-add-project::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-weight: 400;
  font-size: 1em;
  color: var(--green);
  opacity: 1; /* Firefox */
}
input.btn-add-project:hover::placeholder,
input.btn-add-project:focus::placeholder {
  color: #fff;
}
input.btn-add-project:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-weight: 400;
  font-size: 1em;
  color: var(--green);
}
input.btn-add-project::-ms-input-placeholder { /* Microsoft Edge */
  font-weight: 400;
  font-size: 1em;
  color: var(--green);
}

.btn-add-project:hover {
  cursor: pointer;
}

.btn-add-project-contain {
  position: relative;
}

.task-item {
  transition: .3s;
}
.task-item:hover {
  cursor: pointer;
}


.project-group {
  color: var(--darkblue);
  position: relative;
  margin: 0 0 0 -1em;
  padding-left: 1em;
  opacity: 1;
  transform: translate(0,0);
  transition: .3s;
  overflow: hidden;
  max-height: 0;
}

.project-group h3 {
  border-bottom: 3px solid var(--lightgrey);
}
.project-group h3:hover {
  cursor: pointer;
}

.delete-button {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 0;
  right: 0;
  color: var(--black);
  font-size: 1.1em;
  width: 1.5em;
  height: 1.5em;
  margin: 0;
  opacity: 0;
  border-radius: 100%;
  background: #fff;
  transition: .3s;
}

.project-group h3 ~ .delete-button {
  opacity: .4;
}

.delete-button:hover {
  color: red;
  cursor: pointer;
  opacity: 0.85;
}

.project-add-task-button {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 0;
  right: 2em;
  color: var(--black);
  font-size: 1.1em;
  width: 1.5em;
  height: 1.5em;
  margin: 0;
  opacity: 1;
  border-radius: 100%;
  background: #fff;
  transition: .3s;
  transform: rotate(45deg);
  opacity: 0.4;
}

.project-add-task-button:hover {
  cursor: pointer;
  color: var(--green);
  opacity: 1;
}

.project-group h3:hover ~ .project-add-task-button {
  opacity: 1;
}



.project-group h3:hover ~ .delete-button {
  opacity: 1;
}

.project-group li:hover .delete-button {
  opacity: 1;
}


.project-group input.toggle-collapse {
  position: absolute;
  left: 0;
  top: 0.5em;
  padding: 0;
  margin: 0;
  display: inline-block;
  height: 20px;
  width: 20px;
  z-index: 100;
  opacity: 0;
}

.project-group input.toggle-collapse:hover {
  cursor: pointer;
}

.project-group h3::before {
  content: '▶';
  position: absolute;
  left: 0;
  top: 0.5em;
  color: var(--black);
  font-size: 0.6em;
  transform: rotate(90deg);
  transition: .1s;
}

.project-group input.toggle-collapse:checked + h3::before {
  transform: rotate(0deg);
}

.project-group input.toggle-collapse:checked ~ ul {
  max-height: 0 !important;
  padding-top: 0;
  padding-bottom: 0;
}

.project-group .options-icon {
  display: inline-block;
  position: absolute;
  right: 0;
}

.project-group .options-icon:hover {
  cursor: pointer;
}

.project-group ul {
  color: var(--black);
  transition: .3s;
  overflow: hidden;
  list-style: none;
  padding-top: .5em;
  padding-bottom: .5em;
}

ul.project-tasks li {
  margin-bottom: 1.2em;
  font-size: 0.9em;
  position: relative;
  transition: .3s;
  opacity: 1;
}

ul.project-tasks input {
  position: absolute;
  top: .1rem;
  left: -2rem;
  opacity: 0;
  cursor: pointer;
  z-index: 100;
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
}

ul.project-tasks .checkTask {
  position: absolute;
  top: .1rem;
  left: -2rem;
  height: 20px;
  width: 20px;
  border-radius: 6px;
  background: #d8d8d8;
}

ul.project-tasks input:hover + .checkTask {
  background: #ccc;
}

ul.project-tasks input:checked + .checkTask {
  background: var(--green);
}

ul.project-tasks input:checked ~ .task-item {
  text-decoration: line-through;
  color: var(--grey);
}


.task-border {
  height: 6px;
  width: 100%;
  background: var(--green);
  position: absolute;
  bottom: -.3em;
  transition: .3s;
  max-width: 0;
}

.project-group form {
  margin: 0;
  max-height: 0;
  overflow: hidden;
  transition: .3s;
}
input.project-add-task {
  margin: 0;
  margin: 1em;
  margin-right: 0;
  margin-bottom: 0;
  width: 100%;
  border: none;
  font-size: 1em;
  border-bottom: 3px solid #fff;
  padding: .3em .5em;
  background: var(--lightgrey);
}

input.project-add-task:focus {
  outline: none;
  border-bottom: 3px solid var(--babyblue);
  background: #fff;
  border-radius: 0;
}

/* =========================================== */
/* DRAGULA STYLES */
/* =========================================== */

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  font-size: .9em;
  opacity: 0.8;
  list-style-type: none;
}

.gu-mirror input {
  display: none;
  list-style: none;
  margin-left: 0;
}

.gu-mirror:hover {
  cursor: move;
}

.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
}



.mwidth-100 {
  max-width: 100%;
}